body {
    font-family: 'Fira Code',sans-serif;
    background-color: #1f1f1f;
    color: white;
    margin: 0;
    padding: 0;
}

/* Navbar container */
.nav-bar {
    max-width: 900px;
    margin: 20px auto;
    padding: 8px 20px;
    /* border: 1px solid #ffffff; */
    /* max-width:900; */
    margin: 20px auto;
    padding: 8px 20px;
    /* border-radius: 10px; */
}

/* Flex layout for links */
.nav-bar nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links {
    display: flex;
    gap: 40px;
}
/* Default link color */
.nav-bar a {
    color: #ffffff; /* white text */
    text-decoration: none;
    position: relative;
    padding-bottom: 2px;
}

/* Hover effect */
.nav-bar a:hover {
    color: #d95604; /* change to yellowish-orange on hover */
    /* transform: scale(1.05); optional: slight scale up */
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
}

section {
    text-align: left;
    margin: 40px 0;
}

#theme-toggle {
    background: none;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 1rem;
}

#footer {
    border-top: 1px solid white;
    padding-top: 10px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #d95604;
}